@import '../variables';
@import '../mixins';

.#{$prefix}-ui-selectbox {
  @extend %ui-component;

  @include focusable;

  background-color: transparent;
  border: 0;
  color: rgba(0, 151, 255, 1);
  cursor: pointer;
  font-size: .8em;
  padding: .3em;

  option {
    color: $color-secondary;

    &:checked {
      color: $color-highlight;
    }
  }
}
